*{
  margin: 0 auto;
  list-style: none;
  text-decoration: none;
  padding: 0;
  /* border: 1px solid red; */
}
body{

  background-color: black;
}
.container{
  max-width: 1920px;
   background-image: url("/public/images/bgBig.png");
   background-repeat: no-repeat;
   
}

::-webkit-scrollbar {
  width: 0.001px;
}
